---
export interface Props {
  title: string;
  slogan: string;
}
const { title, slogan, companyName } = Astro.props;
---

<div class="relative py-8">
  <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
    <!-- src="https://source.unsplash.com/WLUHO9A_xik/1600x900" -->
    <!-- src="https://source.unsplash.com/jAyckLebI-k/1600x900" -->

    <img
      src="/images/jAyckLebI-k.webp"
      alt=""
      class="h-96 w-full object-cover object-center"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-gray-50"></div>
  </div>

  <div
    class="flex flex-col items-center sm:flex-row relative max-w-7xl mx-auto px-4"
  >
    <slot />
    <div class="grow pt-4 sm:py-16 sm:px-6 lg:px-8">
      <div class="text-center">
        <img
          src="/images/logos/logo_uc.svg"
          alt="Logo"
          width="80"
          height="82"
          class="mx-auto w-20 h-20 sm:w-28 sm:h-28 mb-2 -mt-2 sm:-mt-8"
        />
        <h1
          class="mt-1 text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl lg:text-6xl text-ellipsis overflow-hidden sm:overflow-visible max-w-[94vw]"
        >
          {title ?? "Union Coruña"}
        </h1>
        <h2 class="mx-auto mt-5 max-w-xl text-lg sm:text-2xl text-gray-800">
          {slogan ?? "Trabajamos juntos para facilitarte la vida."}
        </h2>
      </div>
    </div>
  </div>
</div>
