---
export interface Props {
  title: string;
  slogan: string;
}
const { title, slogan, companyName } = Astro.props;
---

<div class="relative py-8">
  <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
    <!-- src="https://tailwindui.com/img/ecommerce-images/product-feature-02-full-width.jpg" -->
    <!-- src="https://source.unsplash.com/WLUHO9A_xik/1600x900" -->
    <!-- src="https://source.unsplash.com/jAyckLebI-k/1600x900" -->

    <img
      src="/images/jAyckLebI-k.webp"
      alt=""
      class="h-96 w-full object-cover object-center"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-gray-50"></div>
  </div>
  <!-- <div class="absolute inset-0">
    <img
      class="h-full w-full object-cover"
      src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100"
      alt=""
    />
    <div
      class="absolute inset-0 bg-gray-800 mix-blend-multiply"
      aria-hidden="true"
    >
    </div>
  </div> -->

  <div
    class="flex flex-col items-center sm:flex-row relative max-w-7xl mx-auto px-4"
  >
    <slot />
    <div class="grow pt-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <!-- <h2 class="text-lg font-semibold text-indigo-600">Pricing</h2> -->
        <h1
          class="mt-1 text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl lg:text-6xl text-ellipsis overflow-hidden sm:overflow-visible max-w-[94vw]"
        >
          <!-- asesorenergéticolargo.info -->
          {title ?? "Union Coruña"}
        </h1>
        <h2 class="mx-auto mt-5 max-w-xl text-xl text-gray-800">
          {slogan ?? "Trabajamos juntos para facilitarte la vida."}
        </h2>
      </div>
    </div>
  </div>
</div>
